<!DOCTYPE html>
<html lang="en" id="index">
  <head>
      
  </head>
  <body>
      <header>
          
      </header>
      
      <main>
            <h1>401d29 Super market</h2>
            <div>
              <p>Choose a category:</p>
                <li id="ele">Electronics</li>
                <li id="tra">Transportation</li>
            </div>
            <div>
                <p>Show Product</p>
            </div>

      </main>
  </body>
</html>